body{
    margin: 0;
   
}
.foldtwo-container {
    
    height: 47rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://voosh.in/static/media/book_now_bg.e9f9294653918137cd78.webp");
    background-size: cover;
}



.left {
    text-decoration: solid;
    color: aliceblue;
    font-size: 2.5rem;
    width: 50%;
    height: inherit;
    text-align: center;
    margin-bottom: -600px;
   
}

.right {
    color: aliceblue;
    width: 50%;
    height: inherit;
    margin-top: 200px;
    
}